<div class="footer">
    <div class="footer__top">
        <div class="footer__top-left">
            <ul>
                <li>
                    <a href="#">Мои работы</a>
                </li>
                <li>
                    <a href="#">Обо мне</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
                <li>
                    <a href="#">Авторизация</a>
                </li>
            </ul>
        </div>
        <div class="footer__top-right">
            <div class="socials socials--footer">
                <a href="#"><i aria-hidden="true" class="fa fa-vk"></i></a>
                <a href="#"><i aria-hidden="true" class="fa fa-github-alt"></i></a>
                <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__buttom">
        <div class="footer__buttom-left">
            Я веб-разработчик из Новороссийска, и этот сайт я сделал в рамках обучения в Школе онлайн образования
            LoftSchool.
        </div>
        <div class="footer__buttom-right">
            © Артем Боюр | создано с любовью в LoftSchool | 2016
        </div>
    </div>
</div>