<div class="header">
    <div class="header__left">
        <div class="socials socials--header">
            <a href="#"><i aria-hidden="true" class="fa fa-vk"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-github-alt"></i></a>
            <a href="#"><i aria-hidden="true" class="fa fa-linkedin-square"></i></a>
        </div>
    </div>

    <div class="header__right">
        <div id="nav" class="nav nav--main">
            <div id="navTrigger" class="nav__trigger">
                <div class="nav__trigger-line"></div>
                <div class="nav__trigger-line"></div>
                <div class="nav__trigger-line"></div>
            </div>
            <div id="navOpen" class="nav__drop">
                <div class="nav__list">
                    <div class="nav__item">
                        <a href="works" class="nav__link title title-dashes title-dashes--white">Мои работы</a>
                    </div>
                    <div class="nav__item">
                        <a href="about" class="nav__link title title-dashes title-dashes--white">Обо мне</a>
                    </div>
                    <div class="nav__item">
                        <a href="blog" class="nav__link title title-dashes title-dashes--white">Блог</a>
                    </div>
                    <div class="nav__item">
                        <a href="/" class="nav__link title title-dashes title-dashes--white">Главная</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>