<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <!--[if lt IE 9]>
    <h1>Этот браузер не поддерживается</h1>
    <![endif]-->

    {{{body}}}
  </body>
</html>