@mixin input-success {
  .input__icon {
    color: $green;
  }
  .input__main {
    border-color: $green;
  }
}

@mixin input-error {
  .input__icon {
    color: #e44845;
  }
  .input__main {
    border-color: #e44845;
  }
}

.background__gray {
  background: #d6d6d6;
}

.gui {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;

  h2 {
    margin: 10px;
  }
}

.square {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px;

  text-align: center;
  line-height: 80px;
  color: white;
}

.gui__inputs {
  box-sizing: border-box;

  width: 400px;
  height: 280px;

  margin: 10px;
  padding: 10px 20px;

  background-image: url("/images/mountians.jpg");
  background-size: cover;

  .input {
    width: 320px;
  }
}

// input style

.input {
  position: relative;
  width: 340px;
  height: 45px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px auto 20px;
  text-align: left;

  //&:hover {
  //  @include input-success;
  //}
}

.input__icon {
  position: absolute;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  width: 45px;
  background: #f0efe9;
  font-size: 18px;
  line-height: 2.5;
  color: #c4cbcd;
  text-align: center;
  transition: color 0.5s;
}

.input__main {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 45px;
  width: 275px;
  outline: none;
  padding: 0 10px;
  right: 0;
  border: 1px white solid;
  border-radius: 0 5px 5px 0;
}

.gui-input__success {
  @include input-success;
}

.gui-input__error {
  @include input-error;
}

.gui-input__error-dropdown {
  position: absolute;

  border-radius: 5px;
  background-color: #e44845;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px 10px;

  right: 30%;
  top: 60px;
  transition: .2s;
  -webkit-transition: .2s;
  z-index: 10;

  &:after {
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    height: 20px;
    width: 100%;

    content: "";
  }

  &:before {
    left: 65px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #e44845 transparent;
    content: '';
    position: absolute;
  }
}

// Checks

.gui__checks, .gui__radio {
  display: inline-block;
}

.checkbox {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: rgba(69, 90, 100, 0.8);
  margin: 10px;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label:before {
    content: "\f00c";
    color: #f3f3f3;
    background-color: $green;
    border: solid 1px transparent;
  }

  label {
    cursor: default;

    &:before {
      font-family: FontAwesome, serif;
      display: inline-block;
      font-size: 13px;
      text-align: center;
      line-height: 22px;
      content: "\00a0";
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #cccccc;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.radio {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: rgba(69, 90, 100, 0.8);
  margin: 10px;

  input[type=radio] {
    display: none;
  }

  label:before {
    font-family: FontAwesome, serif;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    line-height: 20px;
    content: "\00a0";
    border-radius: 13px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    height: 21px;
    width: 21px;
    margin-right: 10px;
    vertical-align: sub;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #00bfa5;
    background-color: #ffffff;
  }
}

// Buttons
.gui__button {
  display: inline-block;
  height: 45px;
  margin: 10px;
  padding: 20px;

}

.button-menu {
  background-color: #00bfa5;
  height: auto;
  line-height: 45px;
  padding: 0 20px;

  border: 0;
  color: white;
  text-align: center;

  &:hover {
    background-color: #009688;
    cursor: pointer;
  }
}

.button-2 {
  height: auto;
  line-height: 45px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px #ffffff;

  color: white;
  text-align: center;

  &:hover {
    background-color: #ffffff;
    color: #00bfa5;
    cursor: pointer;
  }
}

// Social

.socials {
  font-size: 28px;
  margin: 10px;
  cursor: pointer;
}

.socials--green {
  a {
    color: $green;
  }
}
.socials--white {
  a {
    color: white;
  }
}

.social {
  padding: 10px;

  opacity: 0.5;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

