<div class="wrapper-start">
    <section class="welcome">
        <div class="welcome__main">
            <div class="user__avatar">

            </div>

            <h1 class="welcome__title">{{title}}</h1>

            <div class="welcome__text">
                Личный сайт художника-аниматора
            </div>

            <div class="socials socials--green">
                <a href="#" class="social"><i aria-hidden="true" class="fa fa-vk"></i></a>
                <a href="#" class="social"><i aria-hidden="true" class="fa fa-linkedin-square"></i></a>
                <a href="#" class="social"><i aria-hidden="true" class="fa fa-github-alt"></i></a>
            </div>
        </div>
        <div class="welcome__menu">
            <a href="works" class="menu__btn">Мои работы</a>
            <a href="about" class="menu__btn">Обо мне</a>
            <a href="blog" class="menu__btn">Блог</a>
        </div>
    </section>
</div>