<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body class="gui">
    <h2>GUI</h2>
    <div>
        <div class="square" style="background-color: #00bfa5">#00bfa5</div>
        <div class="square" style="background-color: #009688">#009688</div>
        <div class="square" style="background-color: #455a64">#455a64</div>
        <div class="square" style="background-color: #373e42">#373e42</div>
    </div>

    <div class="gui__inputs">
        <div class="input">
            <div class="input__icon">
                <i aria-hidden="true" class="fa fa-user"></i>
            </div>
            <input type="text" class="input__main" placeholder="Логин">
        </div>

        <div class="input gui-input__success">
            <div class="input__icon">
                <i aria-hidden="true" class="fa fa-user"></i>
            </div>
            <input type="text" class="input__main" placeholder="Логин">
        </div>

        <div class="input gui-input__error">
            <div class="input__icon">
                <i aria-hidden="true" class="fa fa-user"></i>
            </div>
            <input type="text" class="input__main" placeholder="Логин">
            <div class="gui-input__error-dropdown">
                Вы не ввели логин
            </div>
        </div>
    </div>
</body>
</html>